<h1>Top#show</h1>
<%= link_to 'sample_chartkick_path', sample_chartkick_path %>
<%= link_to 'sample_jobs_index', sample_jobs_path %>
<%= link_to 'sample_job_create', sample_jobs_path, data: { "turbo-method": :post } %>
